global:
  dynamic:
    plugins:
      # GitHub Pull Requests Board plugin
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/backstage-community-plugin-github-pull-requests-board:pr_1275__0.9.0!backstage-community-plugin-github-pull-requests-board
        pluginConfig:
          dynamicPlugins:
            frontend:
              backstage-community.plugin-github-pull-requests-board:
                entityTabs:
                  - mountPoint: entity.page.pull-requests-board
                    path: /pull-requests-board
                    title: Pull Requests Board
                mountPoints:
                  - mountPoint: entity.page.pull-requests-board/cards
                    importName: EntityTeamPullRequestsCard
                    config:
                      layout:
                        gridColumn: 1 / -1
                      if:
                        anyOf:
                          - isKind: Group
                  - mountPoint: home.page/cards
                    importName: PullRequestsBoard
                    config:
                      id: github-pull-request-board
                      title: "GitHub: Pull Request Board"
                      description: A board that shows open Pull Requests and their review status
                      layouts:
                        xl: { w: 12, h: 6 }
                        lg: { w: 12, h: 6 }
                        md: { w: 12, h: 6 }
                        sm: { w: 12, h: 6 }
                        xs: { w: 12, h: 6 }
                        xxs: { w: 12, h: 6 }
                      cardLayout:
                        width:
                          minColumns: 4
                          maxColumns: 12
                          defaultColumns: 12
                        height:
                          minRows: 2
                          maxRows: 12
                          defaultRows: 4
                      props:
                        entities: [] # Required! If not provided, the board will use the current user's repositories and team.

      # test config viewer
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/proberaum-backstage-plugin-config-viewer:next__0.4.1!proberaum-backstage-plugin-config-viewer
        pluginConfig:
          dynamicPlugins:
            frontend:
              proberaum.backstage-plugin-config-viewer:
                translationResources:
                  - importName: configViewerTranslations
                    ref: configViewerTranslationRef
                dynamicRoutes:
                  - path: /config-viewer
                    importName: ConfigViewerPage
                    menuItem:
                      text: Config viewer (from yaml)

upstream:
  backstage:
    image:
      registry: quay.io
      repository: rhdh/rhdh-hub-rhel9
      tag: 1.8-160

    appConfig:
      userSettings:
        persistence: browser # opt-out of database storage

      catalog:
        rules:
          - allow: [Component, System, API, Resource, Location]
        locations:
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/test-catalog/all.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/features/github/catalog.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/redhat-developer/rhdh/blob/main/catalog-info.yaml
          - type: url
            target: https://github.com/redhat-developer/rhdh-cli/blob/main/catalog-info.yaml

      dynamicPlugins:
        frontend:
          default.main-menu-items:
            menuItems:
              default.home:
                title: Home (changed)

          red-hat-developer-hub.backstage-plugin-dynamic-home-page:
            dynamicRoutes:
              - path: /
                importName: DynamicCustomizableHomePage
            mountPoints:
              - mountPoint: application/listener
                importName: VisitListener
              - mountPoint: home.page/cards
                importName: SearchBar
                config:
                  layouts:
                    xl: { w: 10, h: 1, x: 1 }
                    lg: { w: 10, h: 1, x: 1 }
                    md: { w: 10, h: 1, x: 1 }
                    sm: { w: 10, h: 1, x: 1 }
                    xs: { w: 12, h: 1 }
                    xxs: { w: 12, h: 1 }
              - mountPoint: home.page/cards
                importName: QuickAccessCard
                config:
                  layouts:
                    xl: { w: 7, h: 8 }
                    lg: { w: 7, h: 8 }
                    md: { w: 7, h: 8 }
                    sm: { w: 12, h: 8 }
                    xs: { w: 12, h: 8 }
                    xxs: { w: 12, h: 8 }
              - mountPoint: home.page/cards
                importName: CatalogStarredEntitiesCard
                config:
                  layouts:
                    xl: { w: 5, h: 4, x: 7 }
                    lg: { w: 5, h: 4, x: 7 }
                    md: { w: 5, h: 4, x: 7 }
                    sm: { w: 12, h: 4 }
                    xs: { w: 12, h: 4 }
                    xxs: { w: 12, h: 4 }

              - mountPoint: home.page/cards
                importName: Headline
                config:
                  layouts:
                    xl: { w: 12, h: 1 }
                    lg: { w: 12, h: 1 }
                    md: { w: 12, h: 1 }
                    sm: { w: 12, h: 1 }
                    xs: { w: 12, h: 1 }
                    xxs: { w: 12, h: 1 }
                  props:
                    title: Placeholder tests
                    align: center

              - mountPoint: home.page/cards
                importName: Placeholder
                config:
                  layouts:
                    xl: { x: 1, y: 0, w: 10, h: 1 }
                    lg: { x: 1, y: 0, w: 10, h: 1 }
                    md: { x: 1, y: 0, w: 10, h: 1 }
                    sm: { x: 0, y: 0, w: 12, h: 1 }
                    xs: { x: 0, y: 0, w: 12, h: 1 }
                    xxs: { x: 0, y: 0, w: 12, h: 1 }
                  props:
                    showBorder: true
                    debugContent: Home page customization test 1
              - mountPoint: home.page/cards
                importName: Placeholder
                config:
                  layouts:
                    xl: { x: 0, y: 0, w: 7, h: 4 }
                    lg: { x: 0, y: 0, w: 7, h: 4 }
                    md: { x: 0, y: 0, w: 7, h: 4 }
                    sm: { x: 0, y: 0, w: 12, h: 4 }
                    xs: { x: 0, y: 0, w: 12, h: 4 }
                    xxs: { x: 0, y: 0, w: 12, h: 4 }
                  props:
                    showBorder: true
                    debugContent: Home page customization test 2
              - mountPoint: home.page/cards
                importName: Placeholder
                config:
                  layouts:
                    xl: { x: 7, y: 0, w: 5, h: 4 }
                    lg: { x: 7, y: 0, w: 5, h: 4 }
                    md: { x: 7, y: 0, w: 5, h: 4 }
                    sm: { x: 0, y: 0, w: 12, h: 4 }
                    xs: { x: 0, y: 0, w: 12, h: 4 }
                    xxs: { x: 0, y: 0, w: 12, h: 4 }
                  props:
                    showBorder: true
                    debugContent: Home page customization test 3
              - mountPoint: home.page/cards
                importName: Headline
                config:
                  layouts:
                    xl: { w: 12, h: 1 }
                    lg: { w: 12, h: 1 }
                    md: { w: 12, h: 1 }
                    sm: { w: 12, h: 1 }
                    xs: { w: 12, h: 1 }
                    xxs: { w: 12, h: 1 }
                  props:
                    title: Markdown tests
                    align: center

              - mountPoint: home.page/cards
                importName: MarkdownCard
                config:
                  layouts:
                    xl: { w: 6, h: 4 }
                    lg: { w: 6, h: 4 }
                    md: { w: 6, h: 4 }
                    sm: { w: 6, h: 4 }
                    xs: { w: 6, h: 4 }
                    xxs: { w: 6, h: 4 }
                  props:
                    title: Company links
                    content: |
                      ### RHDH

                      * [Website](https://developers.redhat.com/rhdh/overview)
                      * [Documentation](https://docs.redhat.com/en/documentation/red_hat_developer_hub/)
                      * [GitHub Showcase](https://github.com/redhat-developer/rhdh)
                      * [GitHub Plugins](https://github.com/janus-idp/backstage-plugins)
              - mountPoint: home.page/cards
                importName: Markdown
                config:
                  layouts:
                    xl: { w: 6, h: 4, x: 6 }
                    lg: { w: 6, h: 4, x: 6 }
                    md: { w: 6, h: 4, x: 6 }
                    sm: { w: 6, h: 4, x: 6 }
                    xs: { w: 6, h: 4, x: 6 }
                    xxs: { w: 6, h: 4, x: 6 }
                  props:
                    title: Important company links
                    content: |
                      ### RHDH

                      * [Website](https://developers.redhat.com/rhdh/overview)
                      * [Documentation](https://docs.redhat.com/en/documentation/red_hat_developer_hub/)
                      * [GitHub Showcase](https://github.com/redhat-developer/rhdh)
                      * [GitHub Plugins](https://github.com/janus-idp/backstage-plugins)
              - mountPoint: home.page/cards
                importName: FeaturedDocsCard
              - mountPoint: home.page/cards
                importName: JokeCard
              - mountPoint: home.page/cards
                importName: RecentlyVisitedCard
                config:
                  layouts:
                    xl: { w: 6, h: 4, x: 6 }
                    lg: { w: 6, h: 4, x: 6 }
                    md: { w: 6, h: 4, x: 6 }
                    sm: { w: 6, h: 4, x: 6 }
                    xs: { w: 6, h: 4, x: 6 }
                    xxs: { w: 6, h: 4, x: 6 }
              - mountPoint: home.page/cards
                importName: TopVisitedCard
                config:
                  layouts:
                    xl: { w: 6, h: 4 }
                    lg: { w: 6, h: 4 }
                    md: { w: 6, h: 4 }
                    sm: { w: 6, h: 4 }
                    xs: { w: 6, h: 4 }
                    xxs: { w: 6, h: 4 }

      i18n:
        locales:
          - en
          - de
          - fr
          - it

      permission:
        enabled: false
        rbac:
          pluginsWithPermission:
            - catalog
            - permission
            - scaffolder
          # policyFileReload: true
          # policies-csv-file: ./rbac/rbac-policies.csv
          # conditionalPoliciesFile: ./rbac-conditions/rbac-conditional-policies.yaml
          admin:
            superUsers:
              - name: user:default/christoph-jerolimov
            users:
              - name: user:default/rhdh-qe

  # reduce memory usage
  postgresql:
    primary:
      resources:
        requests:
          cpu: 250m
          memory: 256Mi
        limits:
          cpu: 250m
          memory: 256Mi
