global:
  dynamic:
    plugins:
      # adr plugin
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/backstage-community-plugin-adr:pr_1624__0.14.0!backstage-community-plugin-adr
        pluginConfig:
          dynamicPlugins:
            frontend:
              backstage-community.plugin-adr:
                entityTabs:
                  - mountPoint: entity.page.adr
                    path: /adrs
                    title: ADRs
                    config:
                      if:
                        allOf:
                          - isAdrAvailable
                mountPoints:
                  - mountPoint: entity.page.adr/cards
                    importName: EntityAdrContent
                    config:
                      layout:
                        gridColumnEnd:
                          xs: "span 12"
                      if:
                        allOf:
                          - isAdrAvailable
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/backstage-community-plugin-adr-backend:pr_1624__0.13.0!backstage-community-plugin-adr-backend
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/backstage-community-search-backend-module-adr:pr_1624__0.10.0!backstage-community-search-backend-module-adr

upstream:
  backstage:
    image:
      registry: quay.io
      repository: rhdh/rhdh-hub-rhel9
      tag: 1.8-160

    appConfig:
      userSettings:
        persistence: browser # opt-out of database storage

      catalog:
        rules:
          - allow: [Component, System, API, Resource, Location]
        locations:
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/test-catalog/all.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]

          # test adr plugin
          - type: url
            target: https://github.com/christoph-jerolimov/backstage-experiments/blob/main/adr/examples/entities.yaml

      # dynamicPlugins:
      #   frontend:

      i18n:
        locales:
          - en
          - de
          - fr
          - it

      permission:
        enabled: false
        rbac:
          pluginsWithPermission:
            - catalog
            - permission
            - scaffolder
          # policyFileReload: true
          # policies-csv-file: ./rbac/rbac-policies.csv
          # conditionalPoliciesFile: ./rbac-conditions/rbac-conditional-policies.yaml
          admin:
            superUsers:
              - name: user:default/christoph-jerolimov
            users:
              - name: user:default/rhdh-qe

  # reduce memory usage
  postgresql:
    primary:
      resources:
        requests:
          cpu: 250m
          memory: 256Mi
        limits:
          cpu: 250m
          memory: 256Mi
