global:
  dynamic:
    plugins:
      - package: ./dynamic-plugins/dist/roadiehq-scaffolder-backend-module-http-request-dynamic
        disabled: false

upstream:
  backstage:
    image:
      registry: registry.redhat.io
      repository: rhdh/rhdh-hub-rhel9@sha256
      tag: 0b95eb835576eb3b093695168fb78672f9d378ad027eb0298d807e232c021c09
      pullPolicy: IfNotPresent
    appConfig:

      backend:
        database:
          connection:
            pool:
              min: 1
              max: 1
            #acquireConnectionTimeout: 15000

      catalog:
        rules:
          - allow: [Component, System, API, Resource, Location]
        locations:
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/test-catalog/all.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/bugs/rhdhbugs-163/template.yaml
            rules:
              - allow: [Template]

      proxy:
        endpoints:
          '/httpbin':
            target: 'https://httpbin.org/'
            credentials: dangerously-allow-unauthenticated
            changeOrigin: true

      permission:
        enabled: false
        rbac:
          pluginsWithPermission:
            - bulk-import
            - catalog
          admin:
            superUsers:
              - name: user:default/christoph-jerolimov
