global:
  dynamic:
    plugins:
      # GitHub Pull Requests Board plugin
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/backstage-community-plugin-github-pull-requests-board:pr_1275__0.9.0!backstage-community-plugin-github-pull-requests-board
        pluginConfig:
          dynamicPlugins:
            frontend:
              backstage-community.plugin-github-pull-requests-board:
                entityTabs:
                  - mountPoint: entity.page.pull-requests-board
                    path: /pull-requests-board
                    title: Pull Requests Board
                mountPoints:
                  - mountPoint: entity.page.pull-requests-board/cards
                    importName: EntityTeamPullRequestsCard
                    config:
                      layout:
                        gridColumn: 1 / -1
                      if:
                        anyOf:
                          - isKind: Group
                  - mountPoint: home.page/cards
                    importName: PullRequestsBoard
                    config:
                      id: github-pull-request-board
                      title: "GitHub: Pull Request Board"
                      description: A board that shows open Pull Requests and their review status
                      layouts:
                        xl: { w: 12, h: 6 }
                        lg: { w: 12, h: 6 }
                        md: { w: 12, h: 6 }
                        sm: { w: 12, h: 6 }
                        xs: { w: 12, h: 6 }
                        xxs: { w: 12, h: 6 }
                      cardLayout:
                        width:
                          minColumns: 4
                          maxColumns: 12
                          defaultColumns: 12
                        height:
                          minRows: 2
                          maxRows: 12
                          defaultRows: 4
                      props:
                        entities: [] # Required! If not provided, the board will use the current user's repositories and team.

upstream:
  backstage:
    image:
      registry: quay.io
      repository: rhdh/rhdh-hub-rhel9
      tag: 1.8-160

    appConfig:
      userSettings:
        persistence: browser # opt-out of database storage

      catalog:
        rules:
          - allow: [Component, System, API, Resource, Location]
        locations:
          - type: url
            target: https://github.com/christoph-jerolimov/janus/blob/main/test-catalog/all.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-helm-charts/blob/main/features/github/catalog.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/redhat-developer/rhdh/blob/main/catalog-info.yaml
          - type: url
            target: https://github.com/redhat-developer/rhdh-cli/blob/main/catalog-info.yaml

      i18n:
        locales:
          - en
          - de
          - fr
          - it

      permission:
        enabled: false
        rbac:
          pluginsWithPermission:
            - catalog
            - permission
            - scaffolder
          # policyFileReload: true
          # policies-csv-file: ./rbac/rbac-policies.csv
          # conditionalPoliciesFile: ./rbac-conditions/rbac-conditional-policies.yaml
          admin:
            superUsers:
              - name: user:default/christoph-jerolimov
            users:
              - name: user:default/rhdh-qe

  # reduce memory usage
  postgresql:
    primary:
      resources:
        requests:
          cpu: 250m
          memory: 256Mi
        limits:
          cpu: 250m
          memory: 256Mi
